{% extends 'base.html' %}


{% block content %}
   <!-- content
   ================================================== -->
   <section id="content-wrap" class="site-page">
   	<div class="row">
   		<div class="col-twelve">

   			<section>

   				<div class="content-media">
						<img width="256" height="256" src="{{ user.perfil.fotografia.url }}">
					</div>

					<div class="primary-content">

						<h1 class="entry-title add-bottom">Taylan Branco Meurer</h1>

						<p class="lead">Não se preocupe em ser, preocupe-se em fazer. Quando for fazer, faça com amor e pelo amor.</p>

						<p>Quem sou? Eu sou espírita, uso GNU/Debian e defendo a
            liberdade, igualdade e fraternidade, mas não extrapolo a moral cristã
            a fim de atingí-las. </p>

						<p>Não sou funcionário da Microsoft, portanto não ofereço suporte para
            seus sistemas operacionais. Não tenho nada contra a softwares proprietários,
            apenas creio que se sou da área de computação e preciso aprender sobre sistemas operacionais, então
           ter acesso ao código fonte é indispensável. </p>

						<div class="row block-1-2 block-tab-full">
							<div class="bgrid">
								<h3>Paixões e amores</h3>
								<p>Apaixonado por questões essenciais, temporais e exatas. 
								Amo minha esposa e amo estar ao lado dela e de crianças.
                  Fã de animes e de ficção científica. Óbvio, apaixonado pelas obras da Canção de Gelo e Fogo.
                  Meus personagens favoritos são Itachi e Tyrion Lannister.</p>
							</div>

							<div class="bgrid">
								<h3>Currículo</h3>
								<p>Graduado em História e em Ciência da Computação. Atualmente,
                  iniciando o processo de graduação em Medicina na UBA (Argentina). Além das formações,
                atuei 5 anos na Polícia Militar.</p>
							</div>

							<div class="bgrid">
								<h3>Finalidade</h3>
								<p>A minha finalidade é compartilhar experiências e aprendizados com a intenção de ajudar
                  algum leitor curioso ou prestes a enfrentar situações semelhantes.
                </p>
							</div>

							<div class="bgrid">
								<h3>Como funciona</h3>
								<p>O blog é composto por textos relacionados ao mundo da computação, da história e da medicina.
                  Não serão necessariamente textos técnicos, mas experiências e
                  aprendizados obtidos durante a minha relação com essas áreas. </p>
							</div>

						</div>

					</div>

				</section>

			</div> <!-- end col-twelve -->
   	</div> <!-- end row -->

   </section> <!-- end content -->

{% endblock %}
